@{
    ViewBag.Title = "ABOUT";
}
<h2>@ViewBag.Title</h2>
<style>
    .one {
        float: left;
        width: 24.2%;
        border: 4px;
        margin: 4px;
        text-align: center;
        padding-top: 10px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        background-image: url('../../Content/DataTables/images/or.png');
        background-size: cover;
    }
</style>
<div class="four" id="four">
    <div class="one">
        <img src="~/Content/DataTables/images/Pusendra.png" style="border-radius:25px" alt="" width="250" height="250"/>
        <div style="background-color:whitesmoke">
        <h3 style="font-family:monospace">PUSENDRA CHAUDHARY</h3>
        </div>
        <div style="background-color:antiquewhite;padding-top:5px;padding-bottom:5px;border-bottom-left-radius:25px;border-bottom-right-radius:25px">
            <h5>An Undergraduate at KUSOE</h5>
            <h5>FOI: MVC Web Development</h5>
            <h5>Email: cpusendra@gmail.com</h5>
            <h5>Contact: 9861051489</h5>
        </div>
    </div>
    <div class="one">
        <img src="~/Content/DataTables/images/Akash.jpg" style="border-radius:25px" alt="" width="250" height="250" />
        <div style="background-color:whitesmoke; margin-top:5px">
            <h3 style="font-family:monospace">AKASH GIRI</h3>
        </div>
        <div style="background-color:antiquewhite;padding-top:5px;padding-bottom:5px;border-bottom-left-radius:25px;border-bottom-right-radius:25px">
            <h5>An Undergraduate at KUSOE</h5>
            <h5>FOI: Python Machine Learning</h5>
            <h5>Email: akashgirigiri2@gmail.com</h5>
            <h5>Contact: 9845811743</h5>
        </div>
    </div>
    <div class="one">
        <img src="~/Content/DataTables/images/Arpan.jpg" style="border-radius:25px" alt="" width="250" height="250" />
        <div style="background-color:whitesmoke">
        <h3 style="font-family:monospace">ARPAN MAHATRA</h3>
        </div>
        <div style="background-color:antiquewhite;padding-top:5px;padding-bottom:5px;border-bottom-left-radius:25px;border-bottom-right-radius:25px">
            <h5>An Undergraduate at KUSOE</h5>
            <h5>FOI: MVC Web Development </h5>
            <h5>Email: arpanmahatra1999@gmail.com</h5>
            <h5>Contact: 9843436289</h5>
        </div>
        </div>
    <div class="one">
        <img src="~/Content/DataTables/images/Pranish.png" style="border-radius:25px" alt="" width="250" height="250" />
        <div style="background-color:whitesmoke">
            <h3 style="font-family:monospace;">PRANISH SHRESTHA</h3>
        </div>
        <div style="background-color:antiquewhite;padding-top:5px;;padding-bottom:5px;border-bottom-left-radius:25px;border-bottom-right-radius:25px">
            <h5>An Undergraduate at KUSOE</h5>
            <h5>FOI: Front-end Development</h5>
            <h5>Email: spranish45@gmail.com</h5>
            <h5>Contact: 9860139129</h5>
        </div>
    </div>
    </div>
