@{
    ViewBag.Title = "CONTACT";
}
<h2>@ViewBag.Title</h2>

<address>
    Kathmandu University School of Engineering<br />
    Dhulikhel, Kavre<br />
    <abbr title="Phone">P:</abbr>
    +977 9860139129
</address>

<address>
    <strong>Support:</strong>   <a href="https://www.facebook.com/Fredopedia-908924429297822/?__tn__=%2Cd%2CP-R&eid=ARA5R1MlLCc47etb76vmdqM9ND6y7378ykwmg6_So5YQRKmbbHDyCoj4Dw2niYpBaSZmVgvoBJI22o0y">Fredopedia</a><br />
</address>