@{
    ViewBag.Title = "JOURNEY";
}
<h2>@ViewBag.Title</h2>
<style>
h1{
    color:orangered;
}
h2 {
    color: orangered;
}
h3{
    color:orangered;
}
h4 {
    color: orangered;
}

</style>
<img src="~/Content/DataTables/images/sales.jpg" width="1200" height="500" style="border-radius:25px"/>
<h1>ACKNOWLEDGEMENT</h1>
<p>
    The task of creating a program as a project of our session had been more of a learning opportunity than merely a task at hand. We are grateful to the University as well as the Department of Computer Science and Engineering for providing us the opportunity to create new ideas and implement it.
    All the effort made into the system was possible with the help of our supervisor Mr. Prenita Upadhyaya  who constantly directed the execution of tasks and provided us the ways to handle the problem effectively in the system. Also we would like to pay our respect to Dr.Gajendra Sharma to have guided us through the formal strategy of technicalities that are involved in the procedures. We would also like to express our gratitude to our friends who helped us implant the basic idea of the project.
    This journey, when summed up, has been about our thought being converted into one solid system of code, research and tactics. We are very thankful to everyone for making it a reality for us and also allowing students like us to participate in this journey of rush, excitement and brainstorm each year.
</p>
<h1>ABSTRACT</h1>
<p>This project was assigned to fifth semester students for the partial fulfillment of COMP 303 given by the department of computer science and engineering, KU. By completing this project, we hope to create an website for general public for buying and renting vehicles from bicycles and cars to trucks and buses online. This project will help group members to work better as group and make a website made with the collective ideas of the group members. The project will begin with making of basic skeleton and module division between group members. The expectation of this project is to create an website that anyone, who desires to buy or rent vehicles or inspect price of automobiles, could use. This project will help the group members to use and understand dotnet framework of high demand in Nepalese IT market as well as developing other side skills from html and css front-end designing and photoshop and illustrator to create logos and backgrounds. In the end we are trying to create an website for general public to make their experiences in online market of vehicles worth appreciating and easy.</p>
<h1>INTRODUCTION</h1>
<h2>BACKGROUND</h2>
<p>
    A website is a collection of related web pages, including multimedia content, typically identified with common domain name, and published on at least one web server. Website development is a very essential thing in this business world. People like convenience, and there's nothing more convenient than accessing a whole host of information by simply clicking a button, which is what millions of people do when they go online every day.
    Modern citizens should have their life organized. There are lot of things that people have to be updated to and work day and night rather than to worry about their shopping schedules. Now, in the busy life routines of today, transportation is absolute need for all kinds of people. Many choose public buses to go to schools, colleges and offices. However, many choose to buy their own or rent other people’s vehicles for not getting late for their bigger plans. In such case and in the case of people who are bored of crowd in public vehicles, this website could stand as an alternative of not wasting time on visiting markets for vehicles, getting rid of huge crowds on public buses and also renting vehicles if necessary quickly.
    Hamrobazaar was where these kind of websites was introduced in country that provide selling and buying of all kind of goods. But, under this, vehicles remained uncovered. Autotrader is one of the websites that help the customers to search cars based on company and model. Anyone could sell his/her cars through this website and also provide car’s loan and insurance. Carsdirect does the similar job in addition to showing the cars for advertisement. Ebay-motors not only sells cars but also the bikes and buses. Though these are very popular websites, there are many pros and few cons of these sites so we decided to overcome these factors in our MNO.
</p>
<h2>OBJECTIVES</h2>
<ul>
    <li>To replace the market shopping of vehicle with online system.</li>
    <li>To provide online information regarding vehicles prices and specification.</li>
    <li>To provide systematic rental service of a vehicle.</li>
</ul>
<h2>MOTIVATION AND SIGNIFICANCE</h2>
<p>
    Finding a vehicle is definitely not an easy task to do especially in case of Nepalese where they want to get a good one at such a huge expense. Such one time investment on large transports like cars, buses or smaller ones like bicycles and cars should be much reliable like that of websites rather than people who want to sell vehicles at any cost in showroom telling only the pros of the vehicles. “MNO” would stop people going to the busy and unreliable markets and find every means of transport for renting or buying on internet. With “MNO” we can always view the specifications of vehicles. Also, we can not only compare different vehicles on internet, we can also upload our vehicles for selling. While most of the similar websites will allow us to only buy and sell vehicles only, “MNO” would allow you to rent vehicles. This website is designed however for small scale organization first and would introduce other features once audience get associated to it in natural manner.
</p>
<h1>RELATED WORKS</h1>
<h2>HAMROBAZAR</h2>
<p>This is free online classified which enables individuals as well as companies to list wide variety of new or used product online. Hamrobazar.com believe that Internet is a great promotional vehicle as well as communication channel for connecting buyers and sellers. Hamrobazar.com is perfect solution which helps to list your products for free.</p>
<img src="~/Content/DataTables/images/one.png" />
<h2>SASTORAMRO</h2>
<p>This is also one of the websites where customers can get different types of motorbikes and cars in category of automobiles. In this website, one can buy new and second hand motor bike and other vehicles. Sastoramro is a free classified ad site and business listing for anything ranging from cars, bikes to houses and lands. Users can sell, buy anything online in Nepal. </p>
<img src="~/Content/DataTables/images/two.png" />
<h2>AUTOTRADER</h2>
<p>Autotrader is an online website where we can get different options like cars for sale, sell my car, trade in my car,car research and reviews where we can do research in different cars and functions of cars,find local dealers,Loans and Insurance.We can also search for different brand of cars.</p>
<img src="~/Content/DataTables/images/three.png" />
<h1>DESIGN AND IMPLEMENTATION</h1>
<h2>SYSTEM DESIGN</h2>
<p>
    The web application form directs the user first to the homepage from where one can’t access the modification of database directly thus providing the necessity to authenticate. User can access the website either as a admin (if authorized) who can manage and view both vehicles and customers whereas staffs can only view vehicles not manage them.
</p>
<img src="~/Content/DataTables/images/sd.png" />
<h2>SYSTEM SPECIFICATION</h2>
<h3>TOOLS USED</h3>
<ul>
    <li>Visual Studio</li>
    <li>Google Chrome</li>
</ul>
<h3>LANGUAGES USED</h3>
<ul>
    <li>C-Sharp</li>
    <li>Java</li>
</ul>
<h1>DISCUSSION ON ACHIEVEMENTS</h1>
<p>
    As a beginner, it can sometimes be overwhelming and gets hard to catch with what is going on. As a project there were certain goals that we looked up to and it would also be fair to say that we accomplished what we had initially planned to fulfill.
    When the Motornepalonline is opened, user particularly store managers and staffs could access the information by registering themselves in respective role. Store managers are admins who could add and edit vehicles however, staffs could only see the read-only view of list of vehicles. Both parties could add and edit customers of certain attributes which include the membership types. For the flexibility of application for future reference, application uses MVC approach and facebook for developers. Alongside, there is a search-bar and arrangement button which could manage the vehicles and customers in order.
    Our main objective was designing user friendly application that helps user to reach safely and suitably to their acquired destination. And most of them is fulfilled by end product of the application.
</p>
<h1>CONCLUSION AND RECOMMENDATION</h1>
<p>
    MotorOnlineNepal allows user to buy different cars and bikes through the means of internet..User can search their desired vehicle and can buy it even staying at their homes. It basically utilizes the user’s context to make the user experience as simple and seamless as possible.
    We are satisfied with the result that we have obtained and would love to indulge ourselves in this kind of projects in the days to come. However, there are few limitations over which future enhancement could be applied.
</p>
<h2>LIMITATION</h2>
<ul>
    <li>Lacking image uploading.</li>
    <li>Comparatively less application flexibility.</li>
    <li>Lacking access to multiple social networks.</li>
    <li>Cant be developed instantly for online use.</li>
    <li>No lacking as validation for customer registration.</li>
</ul>
<h2>FUTURE ENHANCEMENT</h2>
<p>
    The way we completed much of our objectives, with above limitation this project concluded some of its holes which could be enhanced later on. The future possibilities in taking this project to next level can be by using the available flexibility to add the features on customer, vehicle and transaction. The developers could authenticate via twitter and gmail too. Apart from that, the application limited for store use could be developed into a online based platform.
</p>