@{
    ViewBag.Title = "PRIVACY POLICY";
}
<h2>@ViewBag.Title</h2>

<p>Thanks for entrusting Motorbazar with your participation.<br>
    Holding onto your private information is a serious responsibility and this Developers' Committee wants you to know how it is handled.</p>

<ul>
    <li>We only collect information you desire to provide us.</li>
    <li>We only need minimum information neccessary to fulfill purpose of your interation with us.</li>
    <li>We don't sell your privacy to third party.</li>
</ul>
